@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
    background: url(../../img/card_bg2.jpg);
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    
}

.main-content {
    position: relative;
}

.info {
    padding: 30px;
    max-width: 500px;
    height: 630px;
    font-size: 2rem;
    line-height: 55px;
    border-radius: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #cf6a87;
}

.btn-start {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition:  0.25s linear;
}

.btn-start:hover{
    color: rgb(241, 239, 239);
}

.btn-start i{
    margin-left: 20px; 
    font-size: 20px; 
    line-height: 2rem;
}

.back {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 200px;
}

.back i {
    font-size: 37px;
    color: #c23616;
    transition: 0.2s linear;
}

.back:hover i {
    color: #e84118;
}


.back-mobile {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.back-mobile i {
    font-size: 37px;
    color: #c23616;
}

.names {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #576574;
    text-shadow: #ea8685 6px 6.5px 6px;
}

.select {
    width: 800px;
    max-width: 100%;
    height: 100vh;
    display: none;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.select--love {
    background-color: #c44569;
    height: 200px;
    position: relative;
    transform: rotate(-45deg);
    width: 200px;
    cursor: pointer;
  }
  
.select--love:before,
.select--love:after {
    content: "";
    background-color: #c44569;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  
.select--love:before {
    top: -100px;
    left: 0;
  }
  
.select--love:after {
    left: 100px;
    top: 0;
}

.select--love span {
    top: 47px;
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(45deg);
    left: 52px;
    z-index: 2;
    color: #ffcccc;
    transition: 0.25s linear;
}

.select--friend {
    background-color: #32ff7e;
    height: 200px;
    position: relative;
    transform: rotate(-45deg);
    width: 200px;
    cursor: pointer;
  }
  
.select--friend:before,
.select--friend:after {
    content: "";
    background-color: #32ff7e;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  
.select--friend:before {
    top: -100px;
    left: 0;
  }
  
.select--friend:after {
    left: 100px;
    top: 0;
}

.select--friend span {
    top: 53px;
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(45deg);
    left: 53px;
    z-index: 2;
    color: #009432;
    transition: 0.25s linear;
}

.select--love:hover span,
.select--friend:hover span{
    color: #fff;
}

.select-mobile {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.select-items-mobile {
    width: 400px;
    max-width: 100%;
    height: 220px;
    text-align: center;
    border-radius: 50px;
    line-height: 220px;
    font-size: 2rem;
    transition: 0.25s linear;
    cursor: pointer;
   
}

.select-mobile--love {
    background-color: #c44569;
}

.select-mobile--love span{
    color: #ffcccc;
}

.select-mobile--friend {
    background-color: #009432;
}

.select-mobile--friend span{
    color: #32ff7e;
}

.card {
    max-width: 100%;
    text-align: center;
}

.card img,
.card--img__content {
    width: 350px;
    max-width: 100%;
    height: 465px;
    display: none;
    cursor: pointer;
    border: solid 1px black;
    box-shadow: #353b48 6px 7px 8px;
}

.card--img__content {
    text-align: center;
    font-size: 2rem;
    color: #222f3e;
    padding: 20px;
}

.btn {
    background-color: #b33939;
    padding: 12px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 0;    
    font-size: 19px;
    color: #ffffff;
    transition: 0.25s linear;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: none;
}

.btn:hover {
    background-color: #ff5252;
}

.notification {
    padding: 30px;
    max-width: 500px;
    height: 580px;
    font-size: 2rem;
    line-height: 55px;
    border-radius: 60px;
    margin: 0 auto;
    display: none;
    margin-bottom: 30px;
}

.noti__love {
    background-color: #c44569;
    color: #f7f1e3;
}

.noti__friend {
    background-color: #ffb142; 
    color: #363b41;
}

.btn-continue {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition:  0.35s linear;
}

.btn-continue i{
    margin-left: 20px; 
    font-size: 20px; 
    line-height: 2rem;
}

.noti__love .btn-continue {
    color: #f7f1e3;
}

.noti__friend .btn-continue {
    color: #485460;
}

.change-color-love {
    color: #ffaf40 !important;  
}

.change-color-friend {
    color: #f7f1e3 !important; 
}


@keyframes blur {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes see {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes spin {
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 90deg);
    }

}
