@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
    background: url(../../img/card_bg2.jpg);
    background-size: cover;
    font-family: 'Cabin', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    position: relative;
    max-width: 600px;
    flex-grow: 1;
}

.back {
    cursor: pointer;
    display: none;
    position: absolute;
    left: -120px;
    top: -50px;
}

.back i {
    font-size: 37px;
    color: #c23616;
    transition: 0.2s linear;
}

.back:hover i {
    color: #e84118;
}

.back-mobile {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.back-mobile i {
    font-size: 37px;
    color: #c23616;
    transition: 0.2s linear;
}

.back-mobile:hover i {
    color: #e84118;
}


.input-name--title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #4b4b4b;
}

.input-name--input {
    display: block;
    width: 400px;
    max-width: 100%;
    border: 0;
    outline: 0;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 40px;
    border-radius: 7px;
    margin: 0 auto;
}

.input-name__partner-name {
    display: none;
}

.btn {
    background-color: #b33939;
    padding: 12px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 0;    
    font-size: 19px;
    color: #ffffff;
    display: block;
    transition: 0.25s linear;
    width: 250px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}


.btn:hover {
    background-color: #ff5252;
}

.alert {
    font-size: 19px;
    text-align: center;
    color: #ff6348;
}

@keyframes blur {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes see {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
